{% extends 'base.html' %}
{% block content %}
<h1>Привет</h1>
<!-- <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for tour in tours %}
        <div class="col">
          <div class="card shadow-sm">
            <img src=" {{ url_for('static',filename='images/1.jpeg') }}">
            <div class="card-body">
              <p class="card-text">{{ tour.name }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <form action="/article/{{ tour.name }}" method="POST">
                  <button type="submit" class="btn btn-sm btn-outline-secondary">View</button>
                  </form>
                </div>
                <small class="text-body-secondary">{{tour.price}}</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div> -->


<div id="b6601" class="block-wrapper block-yt-catalog-trips">
    <div class="main-page block-landing g-pt-auto g-pb-3" style="--bg: ;--bg-url: ;--bg-url-2x: ;--bg-overlay: ;--bg-size: ;--bg-attachment: ;">
        <div class="main-page__block">
            <div class="content">
                <div class="block-landing__info">
                    <div class="block-landing__header">
                        <h2 class="block-landing__title landing-block-node-title">Выберите свой индивидуальный тур</h2>
                        <a href="https://youtravel.me/tours/?is_period_strict=1&amp;currency=rub&amp;lang=ru&amp;available_spaces=1&amp;only_private=1&amp;sort_by=rank&amp;sort_dir=desc" class="block-landing__more_tours landing-block-node-top-link" target="_blank">Посмотреть все туры</a>
                    </div>
                    <div class="block-landing__description landing-block-node-description">и адаптируйте его под свои пожелания</div>
                </div>
                <div class="landing-block-node-trips-filter js-filter-container hidden" data-show-filter="[]">
                    
        <div class="tours-header-banner js-tours-header-banner">
            <div class="tours-header-banner-rightblock">
                <div class="tours-header-banner-rightblock-first">
                    <div class="tours-header-banner-rightblock-top">
                        <div class="number-block">1</div>
                        <div class="line"></div>
                    </div>
                    <div class="tours-header-banner-rightblock-bottom">
                        <div class="tours-header-banner-rightblock-bottom-title">Выберите тур</div>

<div class="m365-popup m365-popup-showed" style="margin-top: 0px;">
<noindex>         
<div class="m365-form-content" style="background: rgb(255, 255, 255);">     
<div class="m365-logo-container">

</div>       
<div class="m365-title" style="color: rgb(25, 25, 25);">👀 Как насчет скидки на тур?</div> 
<div class="m365-description" style="color: rgb(25, 25, 25);"><br> Подпишитесь, и мы пришлем <b>специальный промокод</b> и подборку авторских туров, которые нельзя повторить самостоятельно. <br> <br> 100 000 подписались. Ваш черед.</div>
<div class="m365-form-groups"><div class="m365-form-group">
<label class="m365-input-label" style="display: none; color: rgb(0, 0, 0);"></label>
<input type="email" class="m365-input-text" placeholder="Введите Email" name="merge_" style="color: rgb(41, 41, 41);">
<div class="m365-input-message"></div>                   
</div></div>            
<div class="m365-btn-container">                
<input type="submit" class="m365-btn m365-subscribe" value="Подписаться" style="background: rgb(171, 194, 50); color: rgb(255, 255, 255);">            
</div>            
<div class="m365-form-message" style="background: rgb(255, 255, 255);">                
<div class="m365-title" style="color: rgb(25, 25, 25);"></div>                
<div class="m365-description" style="color: rgb(25, 25, 25);"></div>            
</div>           
<div class="m365-close-icon"></div>
<div class="m365-fz152">Нажимая на кнопку, вы даете согласие на обработку своих персональных данных согласно 152-ФЗ. <a href="https://youtravel.me/help/privacy/" class="m365-fz152-policy" target="_blank" style="color: rgb(171, 194, 50);">Подробнее</a></div>
</div>
<div class="m365-popup-overlay"></div>
</noindex>
</div>
{% endblock %}